
.header {
    display: flex;
    justify-content: center;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.iconoNav {
    width: 80px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration:double;
}

li a:hover:not(.active) {
    text-decoration: 2px underline red;
}

.sale{
    color: red;
    font-weight: 500;
}

.nav{
  display: flex;
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
}
