.grid-container {
    display: grid; 
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
}