.grid-container {
    display: grid; 

    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 5px 5px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."
      ". . ."; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
}
