
h1 {
    display: flex;
    justify-content: center;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
  }

h2 {
    text-align: center;
    color: black
}
  
  .grid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
}
