
.pqt-plus,
.pqt-minus {
  background: #fff;
  font-size: 20px;
  padding: 0 20px;
  width: 50px;
  border-radius: 10px;
  height: 50px;
  user-select: none; 
  line-height: 50px;
  border: solid 1px black;
}

.pqt-add {
  background: #fff;
  border: none;
  font-size: 20px;
  padding: 0 20px;
  width: 150px;
  border-radius: 10px;
  height: 50px;
  user-select: none; 
  line-height: 50px;
  border: solid 1px black;
}

.pqt-plus:hover,
.pqt-minus:hover {
  background: #202431;
  color: #fff;
  cursor: pointer;
}

.pqt-add:hover {
    background: #202431;
    color: #fff;
    cursor: pointer;
  }

  .countValue{
      font-size: 30px;
  }